.section-archive {

    h3 {
        text-transform: uppercase;
        font-size: rem(19px);
        font-weight: 600;
    }

    p {
        color: $gray;
    }

    a {
        &:hover {
            //color: #8a5e46;
        }
    }

    .post {
        img {
            width: 100%;
        }
    }

}