.footer {
    line-height: 2.4em;

    h3 {
        font-size: rem(14px);
        font-weight: 600;
        margin-top: 7px;
        margin-bottom: 1rem;

        @include media-breakpoint-up(md) {
            &:after {
                content: '';
                position: absolute;
                width: 12px;
                height: 1px;
                background-color: $black;
                right: 16px;
                top: 16px;
            }
        }
    }

    a {
        color: $black;
        font-weight: 300;
    }

    &-top {
        margin-top: 5rem;

        @include media-breakpoint-up(md) {
            padding-top: 25px;
            padding-bottom: 25px;
            border-top: 2px solid $black;
            border-bottom: 2px solid $black;
        }
    }

    &-bottom {
        text-align: center;
        padding-top: 8px;
        font-weight: 600;

        @include media-breakpoint-up(md) {
            text-align: right;
        }
    }

    ul {
        list-style-type: none;
        max-width: 280px;
        margin: 0;
        padding: 0;

        li {
            position: relative;

            @include media-breakpoint-up(md) {
                &:after {
                    content: '';
                    position: absolute;
                    width: 12px;
                    height: 1px;
                    background-color: $black;
                    right: 16px;
                    top: 16px;
                }
            }

            &:first-child {
                a {
                    font-weight: 600;
                }
            }
        }
    }

    .bold a {
        font-weight: 600;
    }

    .col-lg-3 {
        @include media-breakpoint-down(sm) {
            border-top: 2px solid $black;
            padding-top: 1rem;
            padding-bottom: 1rem;

            &:last-child {
                border-bottom: 2px solid $black;
            }
        }
    }
}
