body {
    background-color: #f0f0f0;
}

img {
    max-width: 100%;
}

a {
    color: $black;
    &:hover {
        color: $black;
    }
}

.nav-dropdown .submenu-indicator {
    top: 9px;
}

.nav-menus-wrapper {
    background-color: $white !important;
}

.nav-toggle {
    margin-top: 25px;

    @media (min-width: 899px) and (max-width: 975px) {
        margin-top: 0;
    }
}

.section {
    margin-top: 4rem;
    position: relative;
    
    &-title {
        color: #135b29;
        font-weight: 700;
        position: relative;
        margin-bottom: rem(18px);
        font-size: rem(23px);

        @include media-breakpoint-up(md) {
            font-size: rem(30px);
            margin-bottom: rem(60px);

            &:before {
                content: '';
                position: absolute;
                background-color: #135b29;
                height: rem(2px);
                width: rem(72px);
                left: 0;
                top: rem(15px);
            }
        }

        @include media-breakpoint-up(md) {
            padding-left: rem(100px);
        }
    }

    &-badget {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 12px;
        position: absolute;
        transform: rotate(270deg);
        left: -46px;
        top: 90px;
        font-weight: 500;
    }
}

.section-categories,
.section-news {
    a {
        color: $black;
    }

    .news-item {
        background-color: #fff;
        .bottom {
            padding: 1rem;
        }

        &-footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            > div {
                flex: 1;
            }
            small {
                color: $gray-200;
            }
            .right {
                flex: 1;
                display: flex;
                justify-content: flex-end;
                a {
                    width: 21px;
                    margin-right: 8px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }

        .top {
            a {
                position: relative;
                display: block;
                &:after {
                    content: '';
                    transition: background-color 0.3s;
                }
                &:hover {
                    &:after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background-color: transparentize($white, 0.8);
                    }
                }
            }
        }

        .bottom {
            position: relative;

            .category {
                background-color: #f7f7f7;
                padding: 8px 16px;
                text-transform: uppercase;
                font-size: 12px;
                letter-spacing: 1px;
                position: absolute;
                top: -34px;
                left: 0;
            }
        }

        h3 {
            text-transform: uppercase;
            font-size: 19px;
            font-weight: 600;
            line-height: 1.4em;
            margin-bottom: 1.5rem;
        }

        p {
            color: $gray;
            line-height: 1.7em;
        }
    }

}

.sidebar {
    background-color: $white;
    padding: 2rem;
    position: relative;

    a {
        color: $black;
        display: block;
    }

    h4 {
        text-transform: uppercase;
        font-size: rem(15px);
        margin-bottom: 2rem;
    }

    h3 {
        text-transform: uppercase;
        font-size: rem(17px);
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    small {
        color: $gray-200;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            margin-bottom: 0.5rem;
            padding-bottom: 0.5rem;
            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }

    &-social {
        margin-bottom: 1rem;

        @include media-breakpoint-up(md) {
            position: absolute;
            top: -48px;
            left: 0;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
        }
        li {
            width: 21px;
            margin: 0;
            padding: 0;
            margin-right: 8px;
        }
    }
    
}

.pagination {
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

    .prev,
    .next {
        display: block;
        padding: 3px 6px;
    }

    ul {
        list-style-type: none;
        display: flex;
        padding: 0;
        margin: 0;
        li a {
            display: block;
            padding: 3px 6px;
            color: $gray;
        }
    }

    .current {
        font-weight: 600;
        color: $black;
    }
}

.first-widget-area {
    @include media-breakpoint-down(sm) {
        display: flex;
        justify-content: space-between;
    }
}

.widget {
    margin-bottom: 3rem;

    &-projektai {
        a {
            position: relative;
            padding-left: 2rem;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 10px;
                width: 23px;
                height: 1px;
                background-color: #135b29;
            }
        }
    }

    &-news {
        ul {
            li {
                margin-bottom: 1.5rem;
                padding-bottom: 1.5rem;
                border-bottom: 1px solid $gray-100;
                &:last-child {
                    margin-bottom: 0;
                    padding-bottom: 0;
                    border-bottom: 0;
                }
            }
        }
    }
}

.page-content {
    header {
        figure {
            margin-bottom: -14px;
        }
        .category {
            padding: 6px 12px;
            background-color: #f7f7f7;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 500;
            color: #7e7e7e;
        }
    }
    h1 {
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-size: 28px;
        text-transform: uppercase;
        font-weight: 700;
    }
    h2 {
        text-transform: uppercase;
        font-size: 21px;
        font-weight: 600;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    p {
        color: #6c6c6c;
    }
    blockquote {
        font-size: 18px;
        padding: 2rem;
        color: #000;
        font-weight: 500;
    }
    .alignleft {
        vertical-align: text-top;
        margin-bottom: 2rem;
        margin-right: 2rem;
    }
    .details {
        display: flex;
        color: $gray;
        margin-bottom: 3rem;
        font-size: 12px;
        a {
            color: $gray;
        }
        > div {
            &:after {
                content: '/';
                padding-left: 5px;
                padding-right: 9px;
            }
            &:last-child:after {
                content: none;
            }
        }
    }
    .views {
        svg {
            margin-right: 3px;
            margin-top: -2px;
        }
    }
    .comments {
        svg {
            margin-right: 3px;
        }
    }
}
