.header {
    padding-top: 0.5rem;
    z-index: 10;
    position: relative;

    > .row {
        @include media-breakpoint-down(sm) {
            flex-direction: column-reverse;
        }
    }

    .logo {
        @include media-breakpoint-down(sm) {
            display: block;
            width: 140px;
            margin: 0 auto;
        }
    }

    .search {
        width: rem(34px);
        @media screen and (max-width: 975px) {
            display: none;
        }
    }

    .navigation {
        margin-top: 1.5rem;
        @media screen and (max-width: 975px) {
            height: 19px;
            margin-top: 0;
        }
    }

    .nav-text {
        margin: 0;
        @media screen and (max-width: 975px) {
            float: left;
            margin-top: 2rem;
            width: 97%;
        }
    }

    .subscribe-input-group {
        background-color: #fff;
        width: 340px;
        display: flex;
        height: 32px;

        @media screen and (max-width: 975px) {
            width: 100%;
        }

        input {
            border: 0;
            flex: 3;
            padding-left: 10px;

            @media screen and (max-width: 975px) {
                background-color: #f9f9f9;
                padding: 16px;
                margin-left: 1rem;
                flex: 1;
            }
        }

        button {
            background: transparent;
            border: 0;
            flex: 1;
            text-transform: uppercase;
            font-weight: 600;
            padding-top: 4px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .navigation {
        position: absolute;
        top: 25px;
        right: 0;
        @include media-breakpoint-up(md) {
            position: static;
            top: 0;
        }
    }
    
    .nav-menus-wrapper-open .mobile-logo,
    .mobile-logo {
        display: none !important;
    }

    .fixed {
        background-color: transparentize($white,0.02);
        .navigation {
            margin-top: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include media-breakpoint-down(sm) {
                position: absolute;
                background-color: transparent;
                left: 0;
                top: 0;
            }
        }
        
        .mobile-logo {
            display: block;
            width: 80px;
            float: left;
            margin-top: 4px;
            margin-right: 1rem;
        }

        .nav-toggle {
            background-color: #000000c9;
            padding: 1rem 2rem 2rem 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            margin: 0;
            right: -16px;
            &:before {
                background-color: #fff;
                border-radius: 10px;
                box-shadow: 0 0.5em 0 0 #fff, 0 1em 0 0 #fff;
            }
        }
    }

    .nav-menu {
        > li {
            a {
                height: rem(35px);
                padding: rem(10px) rem(15px) rem(10px) !important;
                text-transform: uppercase;
                font-weight: 500;
            }
            &:first-child {
                a {
                    @media screen and (min-width: 975px) {
                        padding-left: 0 !important;
                    }
                }
            }
            &.active {
                a {
                    color: $black;
                }
            }
        }
    }

    &-top-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 1rem;
        padding-bottom: 1rem;

        @include media-breakpoint-down(sm) {
            align-items: center;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;

            a {
                display: block;
                color: $gray-200;
                margin-right: 0.25rem;
                font-size: rem(13px);
                font-weight: 300;
                &::after {
                    content: '|';
                    font-size: 11px;
                    padding-left: 0.25rem;
                }
            }

            li {
                &:last-child a {
                    margin-right: 0;
                    &:after {
                        content: none;
                    }
                }
            }
        }

        a {
            color: $gray;
        }
    }

}