.section-first {
    margin-top: 0;

    .widget {
        margin-bottom: 1rem;
        text-align: right;
    }
}

.swiper-container-first {
    margin-bottom: 2rem;
    margin-top: 2rem;

    @include media-breakpoint-up(md) {
        margin-bottom: 0;
        margin-top: 0;
    }

    .small {
        display: flex;
        align-items: center;
        width: 92px;
        justify-content: space-between;
        a {
            width: 24px;
            display: block;
        }
    }

    .swiper-navigation {
        width: 50px;
        display: flex;
        align-items: center;
        height: 30px;
        justify-content: space-between;
        right: 17rem;
        z-index: 10;
        bottom: 21px;
        left: 12px;

        @include media-breakpoint-up(md) {
            position: static;
            bottom: 2rem;
        }

        @include media-breakpoint-up(lg) {
            position: absolute;
        }

        > div {
            width: 20px;
            &:hover {
                cursor: pointer;
            }
        }
    }

    .swiper-slide {
        display: flex;
        flex-direction: column;

        @include media-breakpoint-up(md) {
            flex-direction: row;
        }

        .left {
            height: 300px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            @include media-breakpoint-up(md) {
                flex: 3;
                height: 460px;
            }
        }
        .right {
            position: relative;

            @include media-breakpoint-up(md) {
                flex: 1;
            }

            &-inner {
                top: 24px;
                left: -90px;
                background-color: $white;
                position: static;
                width: 100%;
                height: auto;
                padding: 1rem 1rem;

                @include media-breakpoint-up(md) {
                    width: 304px;
                    left: -127px;
                    height: 100%;
                }

                @include media-breakpoint-up(lg) {
                    position: absolute;
                    width: 348px;
                    left: -106px;
                    height: 114%;
                    padding: 4rem 2rem;
                }
            }
            h3 {
                text-transform: uppercase;
                font-weight: 600;
                font-size: rem(29px);
            }
            p {
                color: $gray-200;
                line-height: 1.7em;
                margin-top: 1.5rem;
            }
            .readmore {
                text-transform: uppercase;
                font-size: 11px;
                letter-spacing: 1px;
                color: $gray;
                font-weight: 600;
                z-index: 10;
            }
            .small {
                position: absolute;
                bottom: 16px;
                right: 16px;
                color: $gray-200;
            }
        }
    }
}

.section-partneriai {
    .partneriai {
        display: flex;
        flex-wrap: wrap;
    }

    a {
        display: block;
        flex: 0 0 32%;
        @include media-breakpoint-up(md) {
            flex: 0 0 11%;
        }
    }
}

.section-projektai {
    .project {
        position: relative;
        background-color: $white;
        margin-bottom: 2rem;

        @include media-breakpoint-up(md) {
            margin-bottom: 0;
        }

        a {
            color: $black;
        }
    }

    h3 {
        font-weight: 700;
        margin-bottom: 2rem;

        @include media-breakpoint-up(md) {
            margin-bottom: 1rem;
        }
    }

    &-inner {
        position: relative;
    }

    .project-title {
        background-color: $white;
        bottom: 0;
        left: 0;
        position: static;
        width: 100%;
        padding: 1.5rem;

        @include media-breakpoint-up(md) {
            position: absolute;
            width: 70%;
            padding: 2rem;
        }

        &-inner {
            position: relative;
        }

        .footer {
            display: flex;
            height: 36px;
            align-items: center;
            font-size: rem(12px);
            color: $gray;
            justify-content: space-between;
        }

        .svg {
            width: 36px;
        }
    }

    .project-thumb {
        
    }

    .category {
        position: absolute;
        background-color: #f9f9f9;
        width: 136px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 1.4px;
        font-weight: 500;
        left: -24px;
        top: -52px;

        @include media-breakpoint-up(md) {
            top: -46px;
            left: -32px;
        }
    }
}

.swiper-container-news {
    position: relative;
    overflow: hidden;

    @include media-breakpoint-down(sm) {
        margin-bottom: 2rem;
    }

    .swiper-slide {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;

        @include media-breakpoint-up(md) {
            margin-bottom: 2rem;
            flex-direction: row;
        }

        > div {
            &:first-child {
                background-color: #f9f9f9;
                padding: 1rem;
                height: auto;
                position: relative;

                @include media-breakpoint-up(md) {
                    flex: 2;
                    padding: 2rem;
                    height: 300px;
                }

                a:not(.news-category) {
                    color: #000;
                    z-index: 10;
                    position: relative;
                    display: block;
                    width: 255px;
                    margin-top: 2rem;
                    margin-bottom: 1.5rem;
                }
            }
            &:last-child {
                position: relative;

                @include media-breakpoint-up(md) {
                    flex: 1;
                }

                a {
                    display: block;
                    left: -143px;
                    z-index: 0;
                    position: static;
                    width: 100%;

                    @include media-breakpoint-up(md) {
                        position: absolute;
                        width: 335px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }

        .news-category {
            background-color: #fff;
            text-align: center;
            text-transform: uppercase;
            font-size: 12px;
            color: #8f8f8f;
            padding: 8px 16px;
            &:hover {
                cursor: pointer;
            }
        }

        h3 {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 24px;
        }
    }

    .navigation {
        position: absolute;
        z-index: 10;
        bottom: 4px;
        right: 0;
        height: 23px;
        width: 48px;
        display: flex;
        justify-content: space-between;

        @include media-breakpoint-up(md) {
            bottom: 45px;
            left: 28px;
        }
    }

    .button-next,
    .button-prev {
        width: 20px;
        fill: #fff;

        @include media-breakpoint-up(md) {
            fill: #000;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

.newsletters {
    display: block;
    background-color: #fff;
    padding: 1.8rem;
    color: $black;

    &:hover {
        cursor: pointer;
        color: $black;
    }

    &-inner {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include media-breakpoint-up(md) {
            flex-direction: row;
            align-items: flex-start;
        }

        .left,
        .right {
            flex: 1;
        }

        .right {
            padding: 1rem;
            display: flex;
            align-items: center;
            &-inner {
                margin-left: 8px;
                @include media-breakpoint-up(md) {
                    margin-left: 0;
                }
            }
        }
    }

    small {
        text-transform: uppercase;
        color: $gray-200;
    }

    h3 {
        display: block;
        width: rem(185px);
        font-weight: 600;
        font-size: rem(28px);
    }

    h5 {
        color: $gray;
        font-size: rem(16px);
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
        letter-spacing: 0.8px;
        line-height: rem(23px);
    }
}
