$gray: #707070;
$gray-100: #d7d7d7;
$gray-200: #a2a2a2;
$gray-300: #707070;
$gray-400: #636363;
$gray-500: #464646;
$gray-600: #363636;
$black: #000;
$white: #fff;
$yellow: #fecb16;
$green: #135b29;
$green-200: #39b54a;
$pink: #f26d7d;
$body-color: $black;

$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 0.875rem;

// Links
$link-hover-decoration: none;

// Body
$body-color: $body-color;

$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 900px,
  lg: 1200px,
  xl: 1500px
);

$container-max-widths: (
  sm: 1000px,
  md: 1124px,
  lg: 1330px
);

$navbar-light-toggler-border-color: rgba($white, .1);