<section class="section section-archive">
    <h2 class="section-title mb-5">Naujienos</h2>

    <div class="row">
        <div class="col-md-8 col-lg-9">
            <div class="posts">
                {{#list 7}}
                <div class="post">
                    <div class="row">
                        <div class="col-sm-3 col-md-2">
                            <a href="javascript:">
                                <figure>
                                    <img src="https://via.placeholder.com/132x132" alt="">
                                </figure>
                            </a>
                        </div>
                        <div class="col-sm-9 col-md-10">
                            <a href="javascript:">
                                <h3>Lorem ipsum dolor sit amet</h3>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque cumque quidem aperiam dicta vero explicabo, quis quam ab dolor totam non error nisi tenetur eligendi! Ab dolore ullam similique architecto?</p>
                            </a>
                        </div>
                    </div>
                </div>
                {{/list}}
            </div>
            <div class="pagination">
                <a class="prev" href="javascript:"><</a>
                <ul>
                    <li class="current"><a href="javascript:">1</a></li>
                    <li><a href="javascript:">2</a></li>
                    <li><a href="javascript:">3</a></li>
                    <li><a href="javascript:">4</a></li>
                </ul>
                <a class="next" href="javascript:">></a>
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            {{> _sidebar}}
        </div>
    </div>
</section>

{{> _partners}}