<section class="section section-first">
    <div class="row">
        <div class="col-md-8 col-lg-9">
            <div class="swiper-container-first">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="left" style="background-image:url('{{root}}assets/img/CMS/flux.jpg'"></div>
                        <div class="right">
                            <div class="right-inner">
                                <h3>Flux. Festival Lituano Delle Arti</h3>
                                <p>
                                    Šiais metais Lietuva švenčia valstybingumo atkūrimo 100-metį. 1918 m. vasario 16 d. buvo atkurta nepriklausoma ir demokratinė Lietuvos Respublika ir tai žymėjo modernios Lietuvos istorijos pradžią.
                                </p>
                                <a class="readmore" href="javascript:">Read more</a>
                                <small class="small">
                                    2018-07-16
                                    <a href="javascript:">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.023 33.023"><path d="M10.033 33.023a.5.5 0 0 1-.47-.671l5.223-14.359-6.313-1.801a.5.5 0 0 1-.246-.803L21.032.177a.5.5 0 0 1 .863.461l-3.692 12.807 6.347 1.811a.498.498 0 0 1 .243.806l-14.38 16.787a.504.504 0 0 1-.38.174zm-.544-17.581l6.087 1.735a.498.498 0 0 1 .333.651l-4.466 12.278 12.083-14.105-6.079-1.733a.501.501 0 0 1-.344-.619l3.18-11.029L9.489 15.442z"></path></svg>
                                    </a>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="left" style="background-image:url('{{root}}assets/img/CMS/flux2.jpg'"></div>
                        <div class="right">
                            <div class="right-inner">
                                <h3>FFlux. Lietuvos meno festivalis Romoje 2018 m. gegužės 4-15 d.</h3>
                                <p>
                                    Lietuvos kultūros festivalio „Flux“ programoje pristatome ryškiausius skirtingų kartų ir skirtingos meninės raiškos kūrėjus, kurie kuria naująjį Lietuvos šimtmetį.
                                </p>
                                <a class="readmore" href="javascript:">Read more</a>
                                <small class="small">
                                    2018-07-16
                                    <a href="javascript:">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.023 33.023"><path d="M10.033 33.023a.5.5 0 0 1-.47-.671l5.223-14.359-6.313-1.801a.5.5 0 0 1-.246-.803L21.032.177a.5.5 0 0 1 .863.461l-3.692 12.807 6.347 1.811a.498.498 0 0 1 .243.806l-14.38 16.787a.504.504 0 0 1-.38.174zm-.544-17.581l6.087 1.735a.498.498 0 0 1 .333.651l-4.466 12.278 12.083-14.105-6.079-1.733a.501.501 0 0 1-.344-.619l3.18-11.029L9.489 15.442z"></path></svg>
                                    </a>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-navigation">
                    <div class="button-prev">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"><path d="M88.6 121.3c.8.8 1.8 1.2 2.9 1.2s2.1-.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8 0l-54 53.9c-1.6 1.6-1.6 4.2 0 5.8l54 53.9z"/></svg>
                    </div>
                    <div class="button-next">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"><path d="M40.4 121.3c-.8.8-1.8 1.2-2.9 1.2s-2.1-.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8 0l53.9 53.9c1.6 1.6 1.6 4.2 0 5.8l-53.9 53.9z"/></svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            <div class="first-widget-area">
                <section class="widget">
                    <div>
                        <a href="javascript:">
                            <img src="{{root}}assets/img/CMS/banner_1.jpg" alt="">
                        </a>
                    </div>
                </section>
                <section class="widget">
                    <div>
                        <a href="javascript:">
                            <img src="{{root}}assets/img/CMS/banner_2.jpg" alt="">
                        </a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

<section class="section section-news">
    <h2 class="section-title mb-4">Naujienos</h2>
    <div class="section-badget">popular</div>

    <div class="row">
        <div class="col-md-8 col-lg-9">
            <div class="card-columns">
                {{#list 7}}
                <div class="card news-item">
                    <div class="top">
                        <a href="javascript:">
                            <figure>
                                <img src="{{root}}assets/img/CMS/n{{@index}}cover.jpeg" alt="">
                            </figure>
                        </a>
                    </div>
                    <div class="card-body bottom">
                        <a class="category">Kategorija</a>
                        <a href="javascript:"><h3>Rugpjūtį prasideda Lietuvos kultūros instituto Vertėjų rezidencijų programa</h3></a>
                        <div class="news-item-footer">
                            <div class="left">
                                <small>2018-11-16</small>
                            </div>
                            <div class="right">
                                <a href="javascript:">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 487.222 487.222"><path d="M486.554 186.811c-1.6-4.9-5.8-8.4-10.9-9.2l-152-21.6-68.4-137.5c-2.3-4.6-7-7.5-12.1-7.5s-9.8 2.9-12.1 7.6l-67.5 137.9-152 22.6c-5.1.8-9.3 4.3-10.9 9.2s-.2 10.3 3.5 13.8l110.3 106.9-25.5 151.4c-.9 5.1 1.2 10.2 5.4 13.2 2.3 1.7 5.1 2.6 7.9 2.6 2.2 0 4.3-.5 6.3-1.6l135.7-71.9 136.1 71.1c2 1 4.1 1.5 6.2 1.5 7.4 0 13.5-6.1 13.5-13.5 0-1.1-.1-2.1-.4-3.1l-26.3-150.5 109.6-107.5c3.9-3.6 5.2-9 3.6-13.9zm-137 107.1c-3.2 3.1-4.6 7.6-3.8 12l22.9 131.3-118.2-61.7c-3.9-2.1-8.6-2-12.6 0l-117.8 62.4 22.1-131.5c.7-4.4-.7-8.8-3.9-11.9l-95.6-92.8 131.9-19.6c4.4-.7 8.2-3.4 10.1-7.4l58.6-119.7 59.4 119.4c2 4 5.8 6.7 10.2 7.4l132 18.8-95.3 93.3z"/></svg>
                                </a>
                                <a href="javascript:">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.023 33.023"><path d="M10.033 33.023a.5.5 0 0 1-.47-.671l5.223-14.359-6.313-1.801a.5.5 0 0 1-.246-.803L21.032.177a.5.5 0 0 1 .863.461l-3.692 12.807 6.347 1.811a.498.498 0 0 1 .243.806l-14.38 16.787a.504.504 0 0 1-.38.174zm-.544-17.581l6.087 1.735a.498.498 0 0 1 .333.651l-4.466 12.278 12.083-14.105-6.079-1.733a.501.501 0 0 1-.344-.619l3.18-11.029L9.489 15.442z"/></svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/list}}
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            {{> _sidebar}}
        </div>
    </div>
</section>

<section class="section section-projektai">
    <h2 class="section-title mb-4">Projektai</h2>
    <div class="section-badget">trending</div>

    <div class="row trending">
        <div class="col-md-6">
            <div class="project">
                <div class="project-thumb">
                    <img src="{{root}}assets/img/CMS/p1cover.jpeg" alt="Project 1 title">
                </div>
                <a href="javascript:">
                    <div class="project-title">
                        <div class="project-title-inner">
                            <div class="category">projektai</div>
                            <h3>FLUX. Lietuvos meno festivalis Romoje/ Festival Lituano delle Arti</h3>
                            <div class="footer">
                                <div>24 March, 2018</div>
                                <div class="svg"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><path d="M45.563 29.174l-22-15A1 1 0 1 0 22 15v30a.999.999 0 0 0 1.563.826l22-15a1 1 0 0 0 0-1.652zM24 43.107V16.893L43.225 30 24 43.107z"/><path d="M30 0C13.458 0 0 13.458 0 30s13.458 30 30 30 30-13.458 30-30S46.542 0 30 0zm0 58C14.561 58 2 45.439 2 30S14.561 2 30 2s28 12.561 28 28-12.561 28-28 28z"/></svg></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="project">
                <div class="project-thumb">
                    <img src="{{root}}assets/img/CMS/p2cover.jpeg" alt="Project 2 title">
                </div>
                <a href="javascript:">
                    <div class="project-title">
                        <div class="project-title-inner">
                            <div class="category">projektai</div>
                            <h3>FLUX. Lietuvos meno festivalis Romoje/ Festival Lituano delle Arti</h3>
                            <div class="footer">
                                <div>24 March, 2018</div>
                                <div class="svg"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60"><path d="M45.563 29.174l-22-15A1 1 0 1 0 22 15v30a.999.999 0 0 0 1.563.826l22-15a1 1 0 0 0 0-1.652zM24 43.107V16.893L43.225 30 24 43.107z"/><path d="M30 0C13.458 0 0 13.458 0 30s13.458 30 30 30 30-13.458 30-30S46.542 0 30 0zm0 58C14.561 58 2 45.439 2 30S14.561 2 30 2s28 12.561 28 28-12.561 28-28 28z"/></svg></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-6">
            <div class="swiper-container-news">
                <div class="swiper-wrapper">
                    <!-- Loop start -->
                    <div class="swiper-slide">
                        <div>
                            <a class="news-category">art</a>
                            <a href="javascript:">
                                <h3>New technology is changing the world</h3>
                            </a>
                            <small>5 months ago</small>
                        </div>
                        <div>
                            <a href="javascript:">
                                <img src="{{root}}assets/img/CMS/n1cover.jpeg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div>
                            <a class="news-category">theater</a>
                            <a href="javascript:">
                                <h3>Lietuva – Ukraina: kultūros partnerystė 2016</h3>
                            </a>
                            <small>7 months ago</small>
                        </div>
                        <div>
                            <a href="javascript:">
                                <img src="{{root}}assets/img/CMS/n2cover.jpeg" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- Loop end -->
                </div>
                <div class="navigation">
                    <div class="button-prev">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"><path d="M88.6 121.3c.8.8 1.8 1.2 2.9 1.2s2.1-.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8 0l-54 53.9c-1.6 1.6-1.6 4.2 0 5.8l54 53.9z"/></svg>
                    </div>
                    <div class="button-next">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"><path d="M40.4 121.3c-.8.8-1.8 1.2-2.9 1.2s-2.1-.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8 0l53.9 53.9c1.6 1.6 1.6 4.2 0 5.8l-53.9 53.9z"/></svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <a href="javascript:" class="newsletters">
                <div class="newsletters-inner">
                    <div class="left">
                        <img src="{{root}}assets/img/magazine.png" alt="">
                    </div>
                    <div class="right">
                        <div class="right-inner">
                            <h3>Newsletter Subscribe</h3>
                            <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto delectus, eligendi.</h5>
                            <small>read more</small>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>

{{> _partners}}
