<section class="section section-categories">
    <h2 class="section-title mb-5">Kategorijos</h2>
    <div class="row">
        <div class="col-md-8 col-lg-9">
            <div class="posts">
                <div class="card-columns">
                    {{#list 7}}
                    <div class="card news-item">
                        <div class="top">
                            <a href="javascript:">
                                <figure>
                                    <img src="{{root}}assets/img/CMS/n{{@index}}cover.jpeg" alt="">
                                </figure>
                            </a>
                        </div>
                        <div class="card-body bottom">
                            <a class="category">Kategorija</a>
                            <a href="javascript:"><h3>Rugpjūtį prasideda Lietuvos kultūros instituto Vertėjų rezidencijų programa</h3></a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur doloribus earum recusandae reiciendis ullam.</p>
                            <div class="news-item-footer">
                                <div class="left">
                                    <small>2018-11-16</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/list}}
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-3">
            {{> _sidebar}}
        </div>
    </div>
</section>

{{> _partners}}