<section class="section section-page">
    <div class="row">
        <div class="col-md-8 col-lg-9">
            <article class="page-content">
                <header>
                    <figure>
                        <img src="{{root}}assets/img/CMS/page_image.jpg" alt="">
                    </figure>
                    <a class="category" href="javascript:">Art</a>
                    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias aperiam consectetur consequatur.</h1>
                    <div class="details">
                        <div>
                            <span class="author">by <span>John Doe</span></span>
                        </div>
                        <div>
                            <time>2018-11-16</time>
                        </div>
                        <div>
                            <span class="views">
                                <svg xmlns="http://www.w3.org/2000/svg" width="17" viewBox="0 0 512.001 512.001"><path d="M503.698 231.895c-28.735-36.843-65.956-67.318-107.637-88.128-42.548-21.243-88.321-32.265-136.104-32.843-1.316-.036-6.6-.036-7.916 0-47.782.579-93.556 11.6-136.104 32.843-41.681 20.81-78.9 51.284-107.636 88.128a39.145 39.145 0 0 0 0 48.211c28.735 36.843 65.955 67.318 107.636 88.128 42.548 21.243 88.321 32.265 136.104 32.843 1.316.036 6.6.036 7.916 0 47.782-.579 93.556-11.6 136.104-32.843 41.681-20.81 78.901-51.284 107.637-88.128a39.145 39.145 0 0 0 0-48.211zM125.242 349.599c-38.92-19.432-73.678-47.892-100.517-82.303a18.344 18.344 0 0 1 0-22.591c26.838-34.411 61.596-62.871 100.517-82.303a293.777 293.777 0 0 1 33.839-14.33c-29.578 26.588-48.213 65.12-48.213 107.928 0 42.81 18.636 81.345 48.217 107.932a293.754 293.754 0 0 1-33.843-14.333zM256 380.303c-68.542 0-124.304-55.762-124.304-124.304S187.458 131.696 256 131.696 380.304 187.458 380.304 256 324.542 380.303 256 380.303zm231.275-113.008c-26.838 34.411-61.596 62.871-100.517 82.303a293.497 293.497 0 0 1-33.805 14.299c29.558-26.587 48.179-65.107 48.179-107.898 0-42.814-18.64-81.351-48.223-107.939a293.653 293.653 0 0 1 33.85 14.34c38.92 19.432 73.678 47.892 100.517 82.303a18.346 18.346 0 0 1-.001 22.592z"/><path d="M256 202.804c-29.332 0-53.195 23.863-53.195 53.195s23.863 53.195 53.195 53.195 53.195-23.863 53.195-53.195c.001-29.332-23.862-53.195-53.195-53.195zm0 85.563c-17.847 0-32.368-14.519-32.368-32.368 0-17.848 14.519-32.367 32.368-32.367 17.847 0 32.367 14.519 32.367 32.367.001 17.849-14.52 32.368-32.367 32.368z"/></svg>
                                 150
                            </span>
                        </div>
                        <div>
                            <a href="javascript:" class="comments">
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" viewBox="0 0 60 60"><path d="M12 17h15a1 1 0 1 0 0-2H12a1 1 0 1 0 0 2zM46 23H12a1 1 0 1 0 0 2h34a1 1 0 1 0 0-2zM46 31H12a1 1 0 1 0 0 2h34a1 1 0 1 0 0-2z"/><path d="M54 2H6C2.748 2 0 4.748 0 8v33c0 3.252 2.748 6 6 6h8v10a1 1 0 0 0 1.74.673L25.442 47H54c3.252 0 6-2.748 6-6V8c0-3.252-2.748-6-6-6zm4 39c0 2.168-1.832 4-4 4H27.179l3.579-4.161a1 1 0 0 0-1.515-1.304l-4.982 5.792L16 54.414V46a1 1 0 0 0-1-1H6c-2.168 0-4-1.832-4-4V8c0-2.168 1.832-4 4-4h48c2.168 0 4 1.832 4 4v33z"/></svg>
                                0 comments
                            </a>
                        </div>
                    </div>
                </header>
                <main>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae corporis delectus deleniti
                        dolorem ducimus eligendi exercitationem labore molestias natus neque nihil nobis non numquam
                        obcaecati perferendis porro quo sunt, voluptatum.
                    </p>
                    <blockquote>
                        Labore minus natus nesciunt quia recusandae repudiandae saepe totam unde voluptatem. Ab cum et nihil odit optio!
                        Dolor sit amet, consectetur adipisicing elit. Eaque, ex, veritatis! Alias architecto assumenda, atque.
                    </blockquote>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae corporis delectus deleniti
                        dolorem ducimus eligendi exercitationem labore molestias natus neque nihil nobis non numquam
                        obcaecati perferendis porro quo sunt, voluptatum.
                    </p>
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
                    <p>
                        <img class="alignleft" src="http://zahnarzt.test/wp-content/uploads/2018/06/844272122-300x200.jpg" alt="" width="300" height="200" />
                        Labore minus natus nesciunt quia recusandae repudiandae saepe totam unde voluptatem. Ab cum et nihil odit optio!<br>
                        Dolor sit amet, consectetur adipisicing elit. Eaque, ex, veritatis! Alias architecto assumenda, atque.
                    </p>
                </main>
            </article>
        </div>
        <div class="col-md-4 col-lg-3">
            {{> _sidebar}}
        </div>
    </div>
</section>

{{> _partners}}