<footer class="footer">
    <div class="footer-top">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="footer-widget-area">
                    <section class="widget">
                        <div>
                            <ul class="menu">
                                <li class="menu-item current-menu-item"><a href="javascript:">Apie LKI</a></li>
                                <li class="menu-item current-menu-item"><a href="javascript:">Struktūra</a></li>
                                <li class="menu-item current-menu-item"><a href="javascript:">Atlyginimai</a></li>
                                <li class="menu-item current-menu-item"><a href="javascript:">Viešųjų pirkimų konkursai</a></li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="footer-widget-area">
                    <section class="widget">
                        <div>
                            <ul class="menu">
                                <li class="menu-item current-menu-item"><a href="javascript:">Programos</a></li>
                                <li class="menu-item current-menu-item"><a href="javascript:">Ekspertų vizitų programa</a></li>
                                <li class="menu-item current-menu-item"><a href="javascript:">Vertimų skatinimo programa</a></li>
                                <li class="menu-item current-menu-item"><a href="javascript:">ES programa „Europa piliečiams“</a></li>
                                <li class="menu-item current-menu-item"><a href="javascript:">ES programa „Kūrybiška Europa“</a></li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="footer-widget-area bold">
                    <section class="widget">
                        <div>
                            <ul class="menu">
                                <li class="menu-item current-menu-item"><a href="javascript:">Lietuvos kultūra</a></li>
                                <li class="menu-item current-menu-item"><a href="javascript:">Projektai</a></li>
                                <li class="menu-item current-menu-item"><a href="javascript:">Leidiniai</a></li>
                                <li class="menu-item current-menu-item"><a href="javascript:">Naujienos</a></li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="footer-widget-area">
                    <section class="widget">
                        <h3>Apie LKI</h3>
                        <div class="textwidget">
                            <p>
                                Z. Sierakausko g. 15 (III aukštas) LT-03105 Vilnius, Lietuva info@lithuanianculture.lt
                            </p>
                            <p>
                                Darbo valandos:<br>
                                I-IV 9:00 - 18:00<br>
                                V 9:00 - 16:45<br>
                                Pietų pertrauka: 12:00 - 12:45
                            </p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        2018 &copy; Lietuvos kultūros institutas
    </div>
</footer>