<header class="header">
    <div class="row">
        <div class="col-md-6">
            <a href="/" class="logo">
                <img src="{{root}}assets/img/logo.png" alt="">
            </a>
        </div>
        <div class="col-md-6">
            <div class="header-top-right">
                <ul>
                    <li><a href="#">Apie mus</a></li>
                    <li><a href="#">Kontaktai</a></li>
                    <li><a href="#">Ataskaitos</a></li>
                </ul>
                <div class="search">
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 451 451">
                            <path d="M447.05 428l-109.6-109.6c29.4-33.8 47.2-77.9 47.2-126.1C384.65 86.2 298.35 0 192.35 0 86.25 0 .05 86.3.05 192.3s86.3 192.3 192.3 192.3c48.2 0 92.3-17.8 126.1-47.2L428.05 447c2.6 2.6 6.1 4 9.5 4s6.9-1.3 9.5-4c5.2-5.2 5.2-13.8 0-19zM26.95 192.3c0-91.2 74.2-165.3 165.3-165.3 91.2 0 165.3 74.2 165.3 165.3s-74.1 165.4-165.3 165.4c-91.1 0-165.3-74.2-165.3-165.4z"
                            />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <nav id="navigation" class="navigation">

        <div class="nav-header">
            <div class="nav-toggle"></div>
        </div>

        <div class="nav-menus-wrapper">
            <div class="mobile-logo nav-text align-to-left">
                <img src="{{root}}assets/img/logo.png" alt="">
            </div>

            <ul class="nav-menu">
                <li class="active"><a href="#">Pagrindinis</a></li>
                <li>
                    <a href="#">Paslaugos</a>
                    <ul class="nav-dropdown">
                        <li><a href="#">Web desing</a></li>
                        <li>
                            <a href="#">Programming</a>
                            <ul class="nav-dropdown">
                                <li><a href="#">Wordpress</a></li>
                                <li><a href="#">.NET</a></li>
                                <li><a href="#">Ruby</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Consulting</a></li>
                    </ul>
                </li>
                <li><a href="{{root}}kategorijos.html">Kategorijos</a></li>
                <li><a href="{{root}}archyvas.html">Archyvas</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <div class="nav-text align-to-right">
                <div class="subscribe-input-group">
                    <input type="text" name="email" placeholder="Jūsų el.pašto adresas">
                    <button type="submit">Užsisakyti</button>
                </div>
            </div>
        </div>

    </nav>
</header>