<section class="section section-partneriai">
    <h2 class="section-title">Partneriai ir draugai</h2>
    <div class="partneriai">
        <a href="javascript:"><img src="{{root}}assets/img/CMS/p1.png" alt=""></a>
        <a href="javascript:"><img src="{{root}}assets/img/CMS/p2.png" alt=""></a>
        <a href="javascript:"><img src="{{root}}assets/img/CMS/p3.png" alt=""></a>
        <a href="javascript:"><img src="{{root}}assets/img/CMS/p4.png" alt=""></a>
        <a href="javascript:"><img src="{{root}}assets/img/CMS/p5.png" alt=""></a>
        <a href="javascript:"><img src="{{root}}assets/img/CMS/p6.png" alt=""></a>
        <a href="javascript:"><img src="{{root}}assets/img/CMS/p7.png" alt=""></a>
        <a href="javascript:"><img src="{{root}}assets/img/CMS/p8.png" alt=""></a>
        <a href="javascript:"><img src="{{root}}assets/img/CMS/p9.png" alt=""></a>
        <a href="javascript:"><img src="{{root}}assets/img/CMS/p10.png" alt=""></a>
        <a href="javascript:"><img src="{{root}}assets/img/CMS/p11.png" alt=""></a>
        <a href="javascript:"><img src="{{root}}assets/img/CMS/p12.png" alt=""></a>
    </div>
</section>