<div class="sidebar sidebar-widget-area">
    <section class="sidebar-social">
        <ul>
            <li>
                <a href="javascript:">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 310"><path d="M81.703 165.106h33.981V305a5 5 0 0 0 5 5H178.3a5 5 0 0 0 5-5V165.765h39.064a5 5 0 0 0 4.967-4.429l5.933-51.502a5 5 0 0 0-4.966-5.572h-44.996V71.978c0-9.732 5.24-14.667 15.576-14.667h29.42a5 5 0 0 0 5-5V5.037a5 5 0 0 0-5-5h-40.545A39.746 39.746 0 0 0 185.896 0c-7.035 0-31.488 1.381-50.804 19.151-21.402 19.692-18.427 43.27-17.716 47.358v37.752H81.703a5 5 0 0 0-5 5v50.844a5 5 0 0 0 5 5.001z"/></svg>
                </a>
            </li>
            <li>
                <a href="javascript:">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300"><path d="M38.52.012h222.978C282.682.012 300 17.336 300 38.52v222.978c0 21.178-17.318 38.49-38.502 38.49H38.52c-21.184 0-38.52-17.313-38.52-38.49V38.52C0 17.336 17.336.012 38.52.012zm180.026 33.317c-7.438 0-13.505 6.091-13.505 13.525v32.314c0 7.437 6.067 13.514 13.505 13.514h33.903c7.426 0 13.506-6.077 13.506-13.514V46.854c0-7.434-6.08-13.525-13.506-13.525h-33.903zm47.538 93.539h-26.396a87.715 87.715 0 0 1 3.86 25.759c0 49.882-41.766 90.34-93.266 90.34-51.487 0-93.254-40.458-93.254-90.34 0-8.963 1.37-17.584 3.861-25.759H33.35V253.6c0 6.563 5.359 11.902 11.916 11.902h208.907c6.563 0 11.911-5.339 11.911-11.902V126.868zm-115.801-35.89c-33.26 0-60.24 26.128-60.24 58.388 0 32.227 26.98 58.375 60.24 58.375 33.278 0 60.259-26.148 60.259-58.375 0-32.261-26.981-58.388-60.259-58.388z"/></svg>
                </a>
            </li>
            <li>
                <a href="javascript:">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 612"><path d="M612 116.258a250.714 250.714 0 0 1-72.088 19.772c25.929-15.527 45.777-40.155 55.184-69.411-24.322 14.379-51.169 24.82-79.775 30.48-22.907-24.437-55.49-39.658-91.63-39.658-69.334 0-125.551 56.217-125.551 125.513 0 9.828 1.109 19.427 3.251 28.606-104.326-5.24-196.835-55.223-258.75-131.174-10.823 18.51-16.98 40.078-16.98 63.101 0 43.559 22.181 81.993 55.835 104.479a125.556 125.556 0 0 1-56.867-15.756v1.568c0 60.806 43.291 111.554 100.693 123.104-10.517 2.83-21.607 4.398-33.08 4.398-8.107 0-15.947-.803-23.634-2.333 15.985 49.907 62.336 86.199 117.253 87.194-42.947 33.654-97.099 53.655-155.916 53.655-10.134 0-20.116-.612-29.944-1.721 55.567 35.681 121.536 56.485 192.438 56.485 230.948 0 357.188-191.291 357.188-357.188l-.421-16.253c24.666-17.593 46.005-39.697 62.794-64.861z" fill="#010002"/></svg>
                </a>
            </li>
            <li>
                <a href="javascript:">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 310"><path d="M297.917 64.645c-11.19-13.302-31.85-18.728-71.306-18.728H83.386c-40.359 0-61.369 5.776-72.517 19.938C0 79.663 0 100.008 0 128.166v53.669c0 54.551 12.896 82.248 83.386 82.248h143.226c34.216 0 53.176-4.788 65.442-16.527C304.633 235.518 310 215.863 310 181.835v-53.669c0-29.695-.841-50.16-12.083-63.521zm-98.896 97.765l-65.038 33.991a9.997 9.997 0 0 1-14.632-8.863v-67.764a10 10 0 0 1 14.609-8.874l65.038 33.772a10 10 0 0 1 .023 17.738z"/></svg>
                </a>
            </li>
        </ul>
    </section>

    <section class="widget widget-projektai">
        <div>
            <h4>Projektas</h4>
            <ul>
                <li><a href="javascript:">Submenu 1</a></li>
                <li><a href="javascript:">Submenu 2</a></li>
                <li><a href="javascript:">Submenu 3</a></li>
                <li><a href="javascript:">Submenu 4</a></li>
                <li><a href="javascript:">Submenu 5</a></li>
            </ul>
        </div>
    </section>

    <section class="widget widget-news">
        <div>
            <h4>Latest news</h4>
            <ul>
                <li>
                    <a href="javascript:">
                        <h3>How high-street fashion went up</h3>
                        <small>23 February, 2018</small>
                    </a>
                </li>
                <li>
                    <a href="javascript:">
                        <h3>How high-street fashion went up</h3>
                        <small>23 February, 2018</small>
                    </a>
                </li>
                <li>
                    <a href="javascript:">
                        <h3>How high-street fashion went up</h3>
                        <small>23 February, 2018</small>
                    </a>
                </li>
                <li>
                    <a href="javascript:">
                        <h3>How high-street fashion went up</h3>
                        <small>23 February, 2018</small>
                    </a>
                </li>
                <li>
                    <a href="javascript:">
                        <h3>How high-street fashion went up</h3>
                        <small>23 February, 2018</small>
                    </a>
                </li>
                <li>
                    <a href="javascript:">
                        <h3>How high-street fashion went up</h3>
                        <small>23 February, 2018</small>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</div>